<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_homeicon"
        android:label="Arca Creation"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Group0">
        <activity android:name=".Invoice"></activity>
        <activity android:name=".WelcomePage" />
        <activity android:name=".BookingForm" />
        <activity android:name=".ContactUs" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Clothes" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".activity_splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>